@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body {
  margin: 24px 0px;
  font-family: 'Poppins', sans-serif;
  background: rgb(18, 18, 20);
  color: #ffffff; 
  transition: all 0.3s ease-in-out;
  min-height: 100vh; 
  flex-direction: column; 
}

.container {
  max-width: 500px;
  text-align: center;
  margin: 20px auto;
  padding-bottom: 70px;
}


.btn-small {
  background-color: #61892F;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px; /* Отступ слева */
}

.btn-small:hover {
  background-color: #86C232;
}

/* Основные стили для кнопок */
.btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.confirm-btn:hover {
  background-color: #45a049;
  transform: scale(1.05);
}


.cancel-btn:hover {
  background-color: #e53935;
  transform: scale(1.05);
}



/* Нижнее меню с эмодзи */
.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: rgb(23 23 25 / 37%);
    padding: 6px 0px; 
    z-index: 1000;
    justify-content: space-evenly;
    backdrop-filter: blur(9.2px);
    -webkit-backdrop-filter: blur(15.2px);
}

.nav-btn {
    background-color: transparent;
    border: none;
    color: #f0f0f0;
    font-size: 13.5px; /* Уменьшенный текст */
    transition: transform 0.3s ease, color 0.3s ease-in-out;
    display: inline-grid;
    align-content: center;
}

.nav-btn:hover {
    color: #86C232;
}

.nav-icon {
    filter: brightness(0) invert(1);
    width: 21.6px; /* Уменьшено на 10% */
    height: 21.6px; /* Уменьшено на 10% */
    vertical-align: middle;
    margin-right: 0px;
    margin: 0px 20.7px; /* Пропорционально уменьшено */
}

.nav-icon.profil-icon {
    width: 27px; /* Уменьшено на 10% */
    height: 27px;
}


/* Окрашивание активной иконки и текста */
.active-nav-btn {
    color: #86C232;
}

.active-nav-btn .nav-icon {
 filter: brightness(0) invert(43%) sepia(78%) saturate(500%) hue-rotate(38deg) brightness(90%) contrast(101%); /* Яркий зеленый фильтр */

}
.bottom-nav .nav-btn:hover .nav-icon {
  filter: brightness(0%) invert(43%) sepia(78%) saturate(500%) hue-rotate(38deg) brightness(90%) contrast(101%);
}

.nav-btn {
  background-color: transparent;
  border: none;
  color: #f0f0f0;
  font-size: 15px;
  transition: transform 0.3s ease, color 0.3s ease-in-out;
  display: inline-grid;
  align-content: space-around;
}

.nav-btn:hover {
  color: #86C232;
}


/* Контейнер для аватара */
#avatar-container {
  width: 150px;
  height: 150px;
  border-radius: 15px; /* Закругленные края */
  overflow: hidden;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Легкая тень */
}

/* Стили для изображения аватара */
#user-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px; /* Закругленные края изображения */
}


/* Пример изменения цвета кнопки при активации */
.active-nav-btn {
  color: #86C232;
}

/* Убрать полосу прокрутки для всей страницы */
::-webkit-scrollbar {
  width: 0;
}


/* Отмена - кнопка с другим стилем */
#pin-cancel-btn {
  background-color: #b7381e; /* Темно-красный для отмены */
}

#pin-cancel-btn:hover {
  background-color: #ff4d4d; /* Ярко-красный при наведении */
}

@keyframes moveDownLeft {
  from {
    transform: translate(1px, 6px);
  }
  to {
    transform: translate(1px, 6px); /* Измените значения на нужные вам */
  }
}

